# Core functionality - changes here should be rare!
/src/app.py                   @aomkhamphaung
/src/backend/database.py      @aomkhamphaung
/src/backend/routers/auth.py  @aomkhamphaung

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aomkhamphaung
